* {
  margin: 0;
  padding: 0;
}

.listTitle {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
}

.films {
  position: relative;
}

.films .actionWrapper {
  position: absolute;
  top: 10px;
  right: 30px;
}

.films .contactBtn {
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 7px;
  background-color: green;
  cursor: pointer;
  margin-right: 10px;
}

.films .contactBtn .navLink {
  color: white;
  text-decoration: none;
}

.films .switchThemeMode {
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 7px;
  background-color: #3982e4;
  cursor: pointer;
}

.films .switchThemeMode:hover {
  color: white;
}

.filmContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #18191a;
}

.popupContainer {
  width: 100%;
  background-color: #18191ace;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.popupContainer .popup {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  height: 550px;
  overflow: auto;
  background-color: #242526;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  position: relative;
  box-shadow: rgba(245, 244, 244, 0.35) 0px 5px 15px;
}

.popupContainer .popup .imageWrapper {
  width: 50%;
  margin-top: 40px;
}

.popupContainer .popup .imageWrapper img {
  width: 200px;
  height: 200px;  
  object-position: center;
  border-radius: 5px;
  border-bottom-left-radius: 5px;
}

.popupContainer .popup .filmDetails {
  padding: 10px;
  text-align: center;
}

.popupContainer .popup .filmTitle {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #ffff;
}

.popupContainer .popup .filmYear {
  font-size: 14px;
  color: #ffff;
}

.popupContainer .popup .filmDescription {
  font-size: 16px;
  color: #909BA6;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 0px 60px;
  text-align: left;
}

.popupContainer .popup .btnWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  padding-right: 60px;
}

.popupContainer .popup .btnWrapper .cancleBtn {
  padding: 10px 15px;
  border-radius: 7px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.popupContainer .popup .btnWrapper .watchBtn {
  margin-left: 20px;
  padding: 10px 15px;
  border-radius: 7px;
  background-color: #036541;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
